{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/tools.deps {:mvn/version "0.18.1354"}}
 :aliases {:doc {:extra-paths ["src-doc"]}
           :build {:extra-paths ["src-build"]}}}
